.bodyclass{
    background: linear-gradient(to right, #4a58cf, #c950c1);
}

.glass{
  border: 2px solid #ccc;
  background-color: ivory;
  border-radius: 9px;
  width: 55vw;
  padding: 8%;
  text-align: center;
  margin: auto;
  margin-top: 7%;
  height: 34vh;
  background: linear-gradient(to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  font-family: 'Quicksand', sans-serif;
  animation-name:fade-fwd;
  animation: fade-fwd 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  
}

.span1,
.span2{
display:block;
position:absolute;
top:calc(50% - 2px);
left:50%;
width:50%;
height:4px;
background:none;
transform-origin:left;
animation: span1rotate 2s linear infinite;
}

.span1:before,
.span2:before{
content:'';
position:absolute;
width:16px;
height:16px;
border-radius:50%;
background:white;
top: -6px;
right: -8px;
box-shadow: 0 0 20px white,
0 0 40px white,
0 0 60px white,
0 0 80px white,
0 0 100px white,
0 0 0 5px rgba(3,169,244,.1);
}

.circle1,
.circle2{
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    height: 150px;
    width: 150px;
    position: absolute;
    border-radius: 50%;
  }

.circle1{
    top:5%;
    right:10%;  
    animation-name: slide-right ;
    animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.circle2{
    bottom: 3%;
    left:10%;
    animation-name: slide-left;
    animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.homepagelink{
    text-align: center;
    border-radius: 5px;
    width: 6vw;
    height:4vh;
    background-color: #051758;
    color: white;
    position: absolute;
    bottom: 3%;
    right: 3%;
    padding: 7px;
    border-width: 1px;
    border-style: #4569ec solid;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-size:19px;
    animation-name:fade-fwd;
    animation: fade-fwd 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  .homepagelink:hover{
    background-color: rgb(228, 46, 82); 
  }

  #submitbtn {
    border-radius: 5px;
    border-width: 0px;
    padding: 5px 10px 8px 10px;
    width: 12vw;
    height: 6vh;
    background-color: #4569ec;
    color: white;
  }
  #submitbtn:hover {
    background-color: rgb(228, 46, 82);
  }


  @keyframes slide-left {
    from {
      transform: translateX(-1000px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-right {
    from {
      transform: translateX(1000px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes span1rotate{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
  }
  
  @keyframes fade-fwd {
    from {
      transform: translateZ(-80px);
      opacity: 0;
    }
    to {
      transform: translateZ(0);
      opacity: 1;
    }
  }

@media (max-width: 900px) {

  .glass{
    height: 54vh;
    width: 65vw;
  }

  
#submitbtn {
  padding: 5px 10px 8px 10px;
  width: 20vw;
  height: 6vh;
  background-color: #4569ec;
  color: white;
}

.circle1{
  top:2%;
  right:9%;
  height: 10vh;
  width: 10vw;
}
.circle2{
  bottom: 28%;
  left:9%;
  height: 10vh;
  width: 10vw;
}

.homepagelink{
  width: 24vw;
  height:4vh; 
}



  }