.bgcolor{
    background-image: linear-gradient(to right,#4a58cf , #c950c1);
}
.container{
margin: auto;
margin-top: 10%;
border: 2px solid #ccc;
background-color: white ;
padding: 2px;
border-radius: 9px;
width: 40vw;
height:45vh;
text-align: center;
animation-name:fade-fwd;
animation: fade-fwd 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}
.homepagelink{
    text-align: center;
    border-radius: 5px;
    width: 6vw;
    height:4vh;
    background-color: #051758;
    color: white;
    position: absolute;
    bottom: 3%;
    right: 3%;
    padding: 7px;
    border-width: 1px;
    border-style: #4569ec solid;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-size:19px;
    animation-name:fade-fwd;
    animation: fade-fwd 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  .homepagelink:hover{
    background-color: rgb(228, 46, 82); 
  }
  
  .submitbtn{
    border-radius: 5px;
    border-width: 0px;
    padding: 5px 10px 8px 10px;
    width: 8vw;
    height:6vh;
    background-color: #4569ec;
    color: white;  
  }

  .submitbtn:hover{
    background-color: rgb(228, 46, 82); 
  }

  @keyframes fade-fwd {
    from {
      transform: translateZ(-80px);
      opacity: 0;
    }
    to {
      transform: translateZ(0);
      opacity: 1;
    }
  }

  @media(max-width:900px){
    .container{
        margin: auto;
        margin-top: 10%;
        border: 2px solid #ccc;
        background-color: white ;
        border-radius: 9px;
        width: 82vw;
        height:45vh;
        text-align: center;
    }
    .submitbtn{
        border-radius: 5px;
        border-width: 0px;
        padding: 5px 10px 8px 10px;
        width: 32vw;
        height:4vh;
        background-color: #4569ec;
        color: white;  
      }
    
      .homepagelink{
        width: 15vw;
        height: 3vh;
      }
    


}