body {
  overflow-x: hidden;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.centerpage {
  width: 78vw;
  margin: auto;
}
.flex1 {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 29px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.firstdiv {
  height: 90vh;
  align-items: center;
}
.image1 {
  width: 100vw;

  background-position: center;
}
.homepagetext {
  font-size: 20px;
  text-align: right;
}
.mediumsize {
  font-size: 16px;
}
h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.homebutton {
  text-decoration: none;
  color: rgb(98, 98, 218);
}
.homepara {
  font-size: 19px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.homebutton:hover {
  color: palevioletred;
  font-size: 22px;
}
.firstbutton {
  width: 100px;
}
