<!DOCTYPE html>
<head>
{% extends 'base.html' %} {% block nav %}
{% load static %}
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" type="text/CSS" href="{%static 'tracker/changePassword.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body class="bodyclass">

<a href="{% url 'home' %}" style="color: aliceblue;   text-decoration: none;align-items: center;" class="homepagelink"><i class="fa fa-home"></i>Home</a>
{% endblock %} {%block content%}
<div class="glass">
  <h2>Update Password</h2>
  
<form method="POST">
  {%csrf_token%} {{form.as_p}}
  <input id="submitbtn" type="submit" value="Change" />
</form>
</div>
<div class="circle1">
  <span class="span1"></span>
</div>
<div class="circle2">
  <span class="span2"></span>
</div>
</body>
</html>

{%endblock%}

